#f_menu {
	zoom:expression(
		runtimeStyle.zoom=1,
		innerHTML+='<div id="clear">'
	);
}
#f_menu li {
	float: left;
}
#footer .copy {
	float:right;
	height: 20px;
	line-height: 20px;
	text-align: right;
}