html {
	color: #666;
}
html, input, textarea, button {
	font: 12px Helvetica, Arial, sans-serif;
}
html, body, #container {
	height: 100%;
}
body {
	margin: 0;
}
input, select, a, textarea, textarea:focus {
	outline: 0 !important;
	border: 0;
}
img {
	border: 0;
}
a, a:visited, #link {
	color: #006699;
	text-decoration: underline;
	cursor: pointer;
}
a:hover, #link:hover {
	color: #006699;
	text-decoration: none;
}
a:active, #link:active {
	color: #f30;
	text-decoration: underline;
}
embed, embed:active {
	cursor: pointer;
	outline: 0;
}
#clear {
	clear: both;
}
#container {
	position: relative;
	margin: auto;
	min-width: 700px;
	max-width: 1200px;
	width: 80%;
}
#header {
	position: relative;
	padding: 0 10px;
	height: 100px;
}
#logo {
	padding: 20px 0 0 20px;
}
#logo h1 {
	margin: 0;
	padding: 0 0 0 60px;
	height: 50px;
	background: url(../img/wasp.png) no-repeat;
}
#logo h1 a {
	color: #12181C;
	text-decoration: none !important;
}
#logo h1 a b {
	color: #006699;
}
#logo h1 a span {
	display: block;
	margin: 0;
	padding: 0 5px;
	font-size: 12px;
	color: #999;
	font-weight: normal;
}
#menu {
	position: absolute;
	top: 0;
	right: 10px;
	padding: 0 10px;
	color: #fff;
	background: #006699 url(../img/highlight.png) repeat-x 0 -25px;
	border-radius: 0 0 3px 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
	font-size: 11px;
}
#h_menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#h_menu li {
	display: inline-block;
}
#h_menu li span {
	display: inline-block;
	margin: 0 1px;
	padding: 0 5px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}
#h_menu li span.exit {
	text-indent: 20px;
	background: url(../img/exit.png) no-repeat;
}
#h_menu li:hover {
	background: rgba(0, 0, 0, .3);
}
#h_menu li:active {
	background: rgba(0, 0, 0, .2);
}
#main {
	margin: -100px 10px -40px;
	min-height: 100%;
}
#all {
	padding: 100px 0 60px;
}
#footer {
	position: relative;
	padding: 0 10px;
	height: 40px;
	font-size: 11px;
}
#f_menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#f_menu li {
	display: inline-block;
	margin-right: 5px;
	height: 20px;
	line-height: 20px;
}
#footer .copy {
	position: absolute;
	right: 10px;
	top: 0;
	height: 20px;
	line-height: 20px;
	text-align: right;
}
#box_wrap {
	padding: 0 5px;
}
#box_text {
	padding: 0 5px;
	max-width: 400px;
}
#box_name {
	padding: 5px;
}
#list_table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0 0;
	background: #fff;
}
#list_table td {
	padding: 0 5px;
	height: 30px;
	vertical-align: middle;
}
#list_table thead {
	background: #666;
	color: #fff;
}
#list_table tfoot {
	display: none;
}
#list_table tr {
	cursor: default;
	white-space: nowrap;
}
#list_table tbody tr:hover {
	background: #F0F0F0;
}
#list_table tbody tr td.option {
	opacity: 0;
}
#list_table tbody tr:hover td.option {
	opacity: 1;
}
#list_table tbody tr.select {
	background: #CCCCCC;
}
#list_table .item.id {
	width: 40px;
	text-align: right;
}
#list_table .item.name {
	min-width: 200px;
}
#list_table .item.input {
	padding: 0;
	width: 16px;
}
#list_table .item.option {
	width: 100px;
	text-align: right;
}
#list_table .item.profile, #list_table .date {
	width: 180px;
}
#list_table .item.range {
	width: 120px;
}
#list_table .item.status {
	width: 150px;
}
#list_table .item.performed, #list_table .item.ordered, #list_table .item.cost, #list_table .item.runtime, #list_table .item.devation, #list_table .item.lines {
	width: 70px;
	text-align: right;
}
#iconbox .item {
	display: inline-block;
	margin: 0 3px;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	background: url(../img/options.png) no-repeat;
	cursor: pointer;
	opacity: .7;
}
#iconbox .item.purse {
	background-position: -112px 0;
}
#iconbox .item.purse:hover {
	background-position: -112px -16px;
}
#iconbox .item.edit {
	background-position: -128px 0;
}
#iconbox .item.edit:hover {
	background-position: -128px -16px;
}
#iconbox .item.restore {
	background-position: -144px 0;
}
#iconbox .item.restore:hover {
	background-position: -144px -16px;
}
#iconbox .item.copy {
	background-position: -160px 0;
	cursor: pointer;
}
#iconbox .item.copy:hover, #iconbox .item.copy.hover {
	background-position: -160px -16px;
	cursor: pointer;
}
#iconbox .item.vip {
	background-position: -176px 0;
	cursor: pointer;
}
#iconbox .item.vip:hover {
	background-position: -176px -16px;
	cursor: pointer;
}
#iconbox .item.pause {
	background-position: -192px 0;
}
#iconbox .item.pause:hover {
	background-position: -192px -16px;
}
#iconbox .item.unpause {
	background-position: -208px 0;
}
#iconbox .item.unpause:hover {
	background-position: -208px -16px;
}
#iconbox .item.delete {
	background-position: -224px 0;
}
#iconbox .item.delete:hover {
	background-position: -224px -16px;
}
#iconbox .item.rename {
	background-position: -240px 0;
}
#iconbox .item.rename:hover {
	background-position: -240px -16px;
}
#iconbox .item.reset {
	background-position: -256px 0;
}
#iconbox .item.reset:hover {
	background-position: -256px -16px;
}
#iconbox .item.download {
	background-position: -272px 0;
}
#iconbox .item.download:hover {
	background-position: -272px -16px;
}
#iconbox .item.upload {
	background-position: -288px 0;
}
#iconbox .item.upload:hover {
	background-position: -288px -16px;
}
#iconbox .item.geo {
	background-position: -304px 0;
}
#iconbox .item.geo:hover {
	background-position: -304px -16px;
}
#iconbox .item.view {
	background-position: -320px 0;
}
#iconbox .item.view:hover {
	background-position: -320px -16px;
}
#iconbox .item.click {
	background-position: -336px 0;
}
#iconbox .item.click:hover {
	background-position: -336px -16px;
}
#iconbox .item.data {
	background-position: -352px 0;
}
#iconbox .item.data:hover {
	background-position: -352px -16px;
}
#iconbox .item.recreate {
	background-position: -368px 0;
}
#iconbox .item.recreate:hover {
	background-position: -368px -16px;
}
#iconbox .item.graphic {
	background-position: -384px 0;
}
#iconbox .item.graphic:hover {
	background-position: -384px -16px;
}
#iconbox .item:active {
	opacity: .8;
}
#checkbox {
	display: inline-block;
	margin: 0 5px;
	width: 16px;
	height: 16px;
	line-height: 16px;
}
#checkbox b {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	background: url(../img/options.png) no-repeat;
	cursor: default;
}
#checkbox b.uncheck {
	background-position: -64px 0;
}
#checkbox b.uncheck:hover {
	background-position: -64px -16px;
}
#checkbox b.uncheck:active, #checkbox b.check:active, #checkbox b.tick:active {
	opacity: .75;
}
#checkbox b.check {
	background-position: -80px 0;
}
#checkbox b.check:hover {
	background-position: -80px -16px;
}
#checkbox b.tick {
	background-position: -96px 0;
}
#checkbox b.tick:hover {
	background-position: -96px -16px;
}
#rangebox {
	display: inline-block;
	margin: 0 3px;
	width: 26px;
	height: 26px;
	vertical-align: middle;
}
#rangebox .range {
	display: block;
	margin: 1px 0;
	width: 12px;
	height: 12px;
	vertical-align: middle;
	background: url(../img/range.png) no-repeat;
	cursor: pointer;
	opacity: .7;
}
#rangebox .range:hover {
	opacity: 1;
}
#rangebox .range.top {
	background-position: 0 0;
}
#rangebox .range.bottom {
	background-position: 0 -12px;
}
#rangebox .range.top:hover {
	background-position: -12px 0;
}
#rangebox .range.bottom:hover {
	background-position: -12px -12px;
}
#textline {
	display: inline-block;
	margin: 0 -3px;
	padding: 0 3px;
	background: #fff;
	border: 1px solid #ccc;
	width: 100%;
	border-radius: 2px;
	vertical-align: middle;
}
#textline input {
	display: block;
	width: 100%;
	margin: 0;
	padding: 5px 0;
	border: 0;
	background: transparent;
	color: inherit;
	text-align: inherit;
}
#textline input[readonly*="readonly"] {
	cursor: default;
}
#textline.error {
	background: #fef0f2;
	border-color: #fa8f98;
	color: #e60a1c;
}
#textline.float {
	display: inline-block;
	width: auto;
}
#setbox .title {
	font-weight: bold;
}
#box_name {
	font-weight: bold;
}
#editbox {
	position: relative;
	display: table;
	padding: .5em;
	margin: 3px;
	background: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 2px;
}
#edit_lines {
	position: relative;
	float: left;
	display: inline-block;
	vertical-align: top;
	padding: 0;
	width: 50px;
	height: 150px;
	min-height: 150px;
	max-height: 500px;
	color: #666;
	background: #f5f5f5;
	border-right: 1px solid #ccc;
	overflow: hidden;
}
#edit_lines .codelines {
	position: relative;
}
#edit_lines .codelines .rows {
	display: block;
	padding-right: .5em;
	text-align: right;
	white-space: nowrap;
}
#edit_area {
	display: inline-block;
	vertical-align: top;
	padding: 0 0 0 .5em;
	margin: 0;
	width: 400px;
	height: 150px;
	min-width: 400px;
	min-height: 150px;
	max-width: 800px;
	max-height: 500px;
	background: #fff;
}
#edit_area .area {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	border: 0;
	color: #666;
}
#edit_lines .rows, #edit_area .area {
	resize: none !important;
	font-size: 11pt;
	font-family: monospace;
	line-height: normal !important;
}
#editbox_resize {
	position: absolute;
	right: .5em;
	bottom: .5em;
	width: 16px;
	height: 16px;
	background: #fff url(../img/options.png) no-repeat 0 0;
	cursor: se-resize;
}
#editbox_resize:hover {
	background-position: 0 -16px;
}
#box_part_total {
	display: table;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0 0;
}
#box_part {
	display: table-cell;
	vertical-align: top;
}
#box_part.small {
	width: 20%;
	min-width: 150px;
}
#box_part.big {
	width: 80%;
}
#part_height {
	max-height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
}
#box_close {
	display: block;
	position: absolute;
	top: 7px;
	right: 7px;
	width: 16px;
	height: 16px;
	background: url(../img/options.png) no-repeat -16px 0;
	cursor: pointer;
}
#box_close:hover {
	background-position: -16px -16px;
}
#box_close:active {
	background-position: -16px 0;
}
#m_buttons {
	position: relative;
	text-align: right;
}
#m_buttons .bt {
	display: inline-block !important;
	margin: 8px 0 8px 5px;
	padding: 0 15px;
	height: 25px;
	line-height: 25px;
	font-size: 11px;
	color: #fff;
	background-color: #333;
	background-image: url(../img/highlight.png);
	background-repeat: repeat-x;
	background-position: 0 0;
	border-radius: 2px;
	cursor: pointer;
}
#m_buttons .bt.small {
	padding: 0 12px;
	height: 20px;
	line-height: 20px;
	font-size: .9em;
}
#m_buttons .bt.left {
	float: left;
	margin: 8px 5px 8px 0;
}
#m_buttons .bt.gray {
	background-color: #ccc;
	color: #333;
}
#m_buttons .bt.blue {
	background-color: #006699;
}
#m_buttons .bt:hover {
	background-position: 0 -25px;
}
#m_buttons .bt:active {
	background-position: 0 0;
}
#set_wrap {
	display: table;
	width: 100%;
}
#set_left, #set_right {
	display: table-cell;
	vertical-align: top;
}
#set_right {
	width: 180px;
	padding: 5px 0 0 10px;
}
#set_table {
	display: table;
	width: 100%;
	border-spacing: 15px 5px;
}
#set_cell {
	display: table-cell;
	vertical-align: top;
}
#set_cell.box {
	width: 150px;
}
#set_range {
	display: table;
	width: 100%;
	padding: 0 0;
	border-spacing: 0 0;
}
#set_cell.range {
	width: 50%;
}
#set_cell.range.left {
	padding: 0 5px 0 0;
}
#set_cell.range.right {
	width: 0 0 0 5px;
}
#set_title {
	height: 20px;
	line-height: 20px;
	font-weight: bold;
}
#set_box {
	background: #666;
	padding: 5px 18px 13px 10px;
	margin: 0 0 10px 0;
	border-radius: 2px;
}
#set_box .title {
	height: 25px;
	line-height: 25px;
	font-weight: bold;
	color: #fff;
}
#set_box .setlist {
	margin: 0 -8px -3px 0;
}
#set_box .setlist .list {
	margin: 2px 0;
	padding: 0 5px;
	height: 25px;
	line-height: 25px;
	background: #fff;
	border-radius: 2px;
	cursor: pointer;
}
#set_box .setlist .list:hover {
	color: #FF6600;
}
#set_box .setlist .list:hover #iconbox .item {
	opacity: 1;
}
#set_footer {
	padding: 5px 0 10px 0;
}
#contentwrap {
	height: auto;
}
#datalist {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0 0;
}
#datalist td {
	height: 30px;
	vertical-align: middle;
}
#datalist td.set {
	width: 200px;
	font-weight: bold;
}
#datalist td.option {
	width: 30px;
	text-align: center;
}
#datalist td.value {
	width: auto;
}
#areaset {
	display: block;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#areaset li {
	display: block;
	padding: 0 5px;
}
#areaset li.title {
	height: 35px;
	line-height: 35px;
}
#areaset li.set {
	padding: 0;
	height: 35px;
	line-height: 35px;
	font-weight: bold;
}
#areaset .set {
	font-weight: bold;
}
#areaset li div.inblock {
	display:inline-block;
}
#popup_wrap {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .5);
	z-index: 100;
}
#loader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -16px 0 0 -16px;
	width: 35px;
	height: 35px;
	background: url(../img/load.gif) no-repeat;
	z-index: 120;
}
#popup_all {
	display: table;
	width: 100%;
	height: 100%;
}
#popup_box {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#popup {
	position: relative;
	display: inline-block;
	width: auto;
	min-width: 250px;
	max-width: 80%;
	text-align: left;
	border-radius: 3px;
}
#popup .p_title {
	position: relative;
	height: 30px;
	line-height: 30px;
	padding: 0 30px 0 10px;
	color: #fff;
	font-weight: bold;
	background: #006699 url(../img/highlight.png) repeat-x 0 5px;
	cursor: default;
	border-radius: 3px 3px 0 0;
	cursor: move;
}
#popup.error .p_title {
	background-color: #990000;
}
#popup.confirm .p_title {
	background-color: #c9a217;
}
#popup .all {
	padding: 0 10px;
	background: #F0F0F0;
	border-radius: 0 0 3px 3px;
	box-shadow: 0 5px 15px rgba(80, 80, 80, .8);
}
#popup .content {
	display: block;
	height: 100%;
	padding: 5px 0;
}
#popup .a_title {
	height: 30px;
	line-height: 30px;
	font-weight: bold;
}
#popup .filter {
	margin: 0 -5px -10px -5px;
	height: 30px;
	line-height: 30px;
	clear: both;
}
#text {
	max-width: 600px;
	min-width: 350px;
	font-size: 11px;
	padding: 3px 0 0;
}
hr.a_hr {
	margin: 10px 0 5px;
	padding: 0;
	border-width: 1px 0;
	border-style: solid;
	border-color: #ccc #fff #fff #fff;
}
#all_off {
	display: block;
	background: transparent;
	border-radius: 0;
	-moz-border-radius: 0;
	border: 1px dotted #000;
	border-top: 0;
}
#wa_editor {
	position: relative;
	display: table;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 2px;
	overflow: hidden;
}
.linedtextarea {
	display: table-cell;
	vertical-align: top;
	padding: .5em;
	margin: 0;
	width: 400px;
	height: 150px;
	min-width: 400px;
	min-height: 150px;
	max-width: 800px;
	max-height: 500px;
}
.linedtextarea textarea, #wa_editor .row {
	font-size: 13px;
	font-family: Arial;
	line-height: normal !important;
}
.linedtextarea textarea {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-height: 150px;
	border: 0;
}
#wa_editor .lines {
	position: relative;
	float: left;
	display: inline-block;
	vertical-align: top;
	padding: .5em 0;
	width: 50px;
	height: 150px;
	min-height: 150px;
	max-height: 500px;
	background: #f0f0f0;
	border-right: 1px solid #ccc;
	overflow: hidden;
}
#wa_editor .codelines {
	position: relative;
}
#wa_editor .row {
	color: #AAAAAA;
	padding-right: .5em;
	text-align: right;
	white-space: nowrap;
}
#wa_editor .row.error.active {
	color: #f55;
	background: #fde5fd;
}
#wa_editor .row.error {
	color: #fff;
	background: #f55;
}
#wa_editor .row.active {
	color: #5290bb;
	background: #fff;
}
div#resize {
	position: absolute;
	right: .5em;
	bottom: .5em;
	width: 16px;
	height: 16px;
	background: #fff url(../img/options.png) no-repeat 0 0;
	cursor: se-resize;
}
div#resize:hover {
	background-position: 0 -16px;
}
#account_control {
	display: block;
	position: relative;
	width: 421px;
	margin: 0 auto;
	text-align: left;
	box-shadow: 0 5px 20px rgba(0, 0, 0, .5);
}
#account_control {
	background-color: #eee;
	background-image: linear-gradient(top, #fcfcfc, #eee);
	background-image: -o-linear-gradient(top, #fcfcfc, #eee);
	background-image: -moz-linear-gradient(top, #fcfcfc, #eee);
	background-image: -webkit-linear-gradient(top, #fcfcfc, #eee);
	background-image: -ms-linear-gradient(top, #fcfcfc, #eee);
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #fcfcfc),
	color-stop(1, #eee)
	);
	border-radius: 5px;
}
#control_title {
	padding: 20px 0;
	text-align: right;
}
#control_title span {
	display: inline-block;
	height: 30px;
	line-height: 30px;
}
#control_title .actual {
	float: left;
	padding: 0 20px;
	font-size: 1.5em;
	font-weight: bold;
	color: #006699;
}
#control_title .run {
	position: relative;
	margin: 0 28px 0 48px;
	padding: 0 10px;
	text-indent: 20px;
	color: #fff;
	background: #006699 url(../img/title.png) no-repeat 0 -33px;
	cursor: pointer;
}
#control_title .run:hover {
	opacity: .9;
}
#control_title .run:before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0px;
	left: -48px;
	width: 48px;
	height: 30px;
	background: url(../img/title.png) no-repeat 0 -3px;
}
#control_title .run:after {
	content: "";
	display: inline-block;
	position: absolute;
	top: -3px;
	right: -31px;
	width: 31px;
	height: 33px;
	background: url(../img/title.png) no-repeat -68px 0;
}
#control_content {
	padding: 0 20px;
}
#control_options {
	position: relative;
	height: 50px;
	line-height: 50px;
}
#control_options .forgot {
	position: absolute;
	top: 10px;
	left: 30px;
	height: 30px;
	line-height: 30px;
}
#control_options .forgot span {
	color: #006699;
	cursor: pointer;
}
#control_options .option {
	position: absolute;
	top: 10px;
	right: 20px;
	height: 30px;
	line-height: 30px;
}
#control_options .option div#m_buttons {
	display: inline-block;
	margin: 0;
	color: #fff;
	border-bottom: 0;
}
#hintbox {
	position: fixed;
	top: 0;
	left: 0;
	display: inline-block;
	padding: 2px;
	background: rgba(70, 70, 70, .2);
	max-width: 300px;
	z-index: 20000;
}
#hintbox, #hintbox_content {
	border-radius: 2px;
}
#hintbox_content {
	background: rgba(70, 70, 70, .7);
	color: #fff;
	font-size: .9em;
	text-align: left;
	padding: 4px 8px;
}
#hintbox {
	display: none;
}
#console {
	position: fixed;
	top: 0;
	left: 0;
	display: table;
	vertical-align: middle;
	z-index: 2000;
}
#console .left, #console .right {
	display: table-cell;
	vertical-align: middle;
}
#console .left {
	padding: 3px;
	background-color: #666666;
	border-radius: 0 2px 2px 0
}
#console .title {
	position: relative;
	display: inline-block;
	right: 0;
	width: 30px;
	height: 150px;
	background: url(../img/console.png) no-repeat;
	vertical-align: middle;
	cursor: pointer;
}
#console .title span {
	display: block;
	position: absolute;
	top: 7px;
	right: 7px;
	width: 16px;
	height: 16px;
	background: url(../img/options.png) no-repeat;
	background-position-y: 0;
}
#console .title span.max {
	background-position: -32px 0;
}
#console .title span.min {
	background-position: -48px 0;
}
#console .title:hover span.max {
	background-position: -32px -16px;
}
#console .title:hover span.min {
	background-position: -48px -16px;
}
#console .title:active span.max {
	background-position: -32x 0;
}
#console .title:active span.min {
	background-position: -48px 0;
}
#console textarea {
	font-size: .9em;
	font-family: Arial;
}
#browsers_box {
	position: relative;
	left: 50%;
	margin-left: -300px;
	width: 600px;
}
#browsers_box .item {
	width: 100px;
	text-align: center;
	float: left;
	margin: 0 20px;
}
#browsers_box .browsers {
	display: block;
	margin: 10px 0;
	padding: 0;
	width: 100px;
	height: 100px;
	background: url(../img/browsers.jpg) no-repeat;
}
#browsers_box .browsers.chrome {
	background-position: 0 0;
}
#browsers_box .browsers.firefox {
	background-position: -100px 0;
}
#browsers_box .browsers.opera {
	background-position: -200px 0;
}
#browsers_box .browsers.safari {
	background-position: -300px 0;
}
#code_edit {
	margin-bottom: 10px;
	text-align: right;
}
#code_edit .item {
	display: inline-block;
	padding: 0 10px;
	margin-left: 5px;
	height: 20px;
	line-height: 20px;
	font-size: .9em;
	cursor: pointer;
	background: #CCCCCC url(../img/highlight.png) repeat-x 0 -5px;
	border-radius: 2px;
}
#code_edit .item:hover {
	background-position: 0 -30px;
}
#code_edit .item:active {
	background-position: 0 -5px;
}
#error_text {
	max-width: 400px;
	padding: 0;
	font-size: .9em;
	color: #f55;
	overflow: hidden;
}
#breadcrumb {
	height: 30px;
	line-height: 30px;
}
#breadcrumb span {
	position: relative;
	display: inline-block;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
	color: #999;
}
#breadcrumb span:hover {
	color: #006699;
}
#breadcrumb span:after {
	content: "»";
	display: inline-block;
	margin: 0 3px;
	cursor: default;
	color: #999;
}
#breadcrumb span:after:hover {
	color: #999;
}
#breadcrumb span:last-child:after {
	content: "";
}
#breadcrumb .active, #breadcrumb .active:hover {
	text-decoration: none;
	cursor: default;
	color: #666;
}
#infotable {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0 0;
	font-size: .9em
}
#infotable thead td {
	padding: 0 5px 3px;
	color: #308ea7;
	font-weight: bold;
	border-bottom: 2px solid #308ea7;
	overflow: hidden;
}
#infotable td {
	padding: 0 5px;
	height: 30px;
	vertical-align: middle;
	cursor: default;
}
#infotable tbody tr:nth-child(2n) {
	background-color: #e4f2f3;
}
#infotable tbody tr.check {
	background-color: #ebfbd4;
}
#infotable tbody tr:hover {
	background-color: #d9e3ea;
}
#infotable td {
	border: 1px solid #fff;
}
#infotable .checked {
	width: 26px;
	padding: 0 2px;
}
#infotable .name {
	width: auto;
	min-width: 120px;
	max-width: 200px;
	overflow: hidden;
	border-right: 0;
}
#infotable .mask {
	width: 200px;
}
#infotable .proxy {
	width: 90px;
}
#infotable .gu {
	width: 60px;
}
#infotable .range {
	width: 100px;
}
#infotable .unique {
	width: 90px;
}
#infotable .option {
	width: 120px;
	text-align: right;
	border-left: 0;
}
#infotable tbody #iconbox {
	visibility: hidden;
}
#infotable tbody tr:hover #iconbox, #infotable.account #iconbox {
	visibility: visible;
}
#referal {
	height: 45px;
	line-height: 45px;
}
#graphbox {
	display: table;
	padding: 10px;
}
#graphset {
	display: table-cell;
	width: 150px;
	vertical-align: top;
	overflow-x: hidden;
	overflow-y: auto;
}
#graphcontent {
	display: table-cell;
	vertical-align: top;
}
#graphbox div#item_list {
	padding: 0 5px 0 0;
	height: 300px;
	overflow-y: auto;
}
#set_list {
	margin: 0 5px;
	padding: 0;
	list-style-type: none;
}
#set_list .item {
	margin: 0 5px;
	padding: 3px 5px;
}
#set_list .cast {
	display: inline-block;
	margin: 0 5px;
}
#item_list {
	padding: 0 5px 0 0;
}
#item_list .item {
	margin: 2px 0;
	padding: 0 8px;
	height: 25px;
	line-height: 25px;
	color: #333;
	background: #E6E6E6;
	border-radius: 2px;
	cursor: pointer;
	white-space: nowrap;
}
#item_list .item:hover {
	background: #ccc;
}
#item_list .item.set {
	font-weight: bold;
}
#item_list .item.select {
	background: #006699;
	color: #fff;
}
#page_control {
	position: relative;
	width: 100%;
	margin: 5px 0 10px 0;
	text-align: left;
}
#page_control .run, #page_control .page, #page_control .page_optional, #page_control ul.pages li.page {
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
	border-radius: 2px;
	font-size: .9em;
}
#page_control .run, #page_control .page, #page_control .page_optional {
	margin: 0 2px;
	padding: 0 5px;
	height: 24px;
	line-height: 24px;
}
#page_control .run {
	background: #E6E6E6;
}
#page_control .run:hover, #page_control .page:hover, #page_control .page_optional:hover {
	background: #E6E6E6;
}
#page_control .run:active, #page_control .page:active, #page_control .page_optional:active {
	background: #006699;
	color: #fff;
}
#page_control .page.active {
	color: #fff;
	background: #006699;
	cursor: default;
}
#page_control .page_optional {
	position: relative;
}
#page_control .page_optional.active {
	background: #006699;
	color: #fff;
	cursor: default;
}
#page_control .page_optional_wrap {
	position: absolute;
	display: block;
	top: 24px;
	left: 0;
	margin: 4px 0;
	padding: 0 10px 10px;
	width: 148px;
	background: #F0F0F0;
	border-radius: 0 2px 2px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
}
#page_control ul#areaset {
	color: #006699;
}
#page_control ul.pages {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#page_control ul.pages li.page.active {
	cursor: default;
}
#page_control span#textline {
	width: 78px;
	display: inline-block;
}
#page_control div#m_buttons {
	display: inline-block;
}
#page_control div#m_buttons .bt {
	margin: 0 0 0 5px;
	width: 20px;
	text-align: center;
}
#noscript {
	margin: 0 0 1em 0;
	padding: 0;
}
#noscript h3 {
	margin: 0.2em 0;
	padding: 0;
	font-size: 1.1em;
}
#noscript p {
	margin: 0;
	padding: 0;
}
#listbox {
	display: block;
	margin: 0;
	background: #fff;
	border-radius: 2px;
	border: 1px solid #ccc;
}
.listflow {
	max-height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
}
.masktable {
	width: 100%;
	border: 0;
	border-spacing: 0 0;
	border-collapse: collapse;
}
.masktable thead {
	font-weight: bold;
	background: #E6E6E6;
	cursor: default !important;
}
.masktable td {
	font-size: .95em;
	padding: 0 3px;
	height: 20px;
	line-height: 20px;
}
.masktable tbody td {
	cursor: pointer;
	text-align: left;
}
.masktable tbody tr:hover {
	background: #E4F2F3;
}
.masktable tbody tr.active {
	background: #006699;
	color: #fff;
}
.masktable .name {
	width: auto;
}
.masktable .mask {
	width: 300px;
}
#grapharea {
	display: block;
	position: relative;
	width: 600px;
	height: 300px;
	padding: 0 0 0 -20px !important;
}
#accountinfo {
	margin: auto;
	border-spacing: 0 0;
	border-collapse: collapse;
}
#accountinfo td {
	padding: 2px 0px;
}
#accountinfo .icon {
	width: 66px;
	text-align: right;
}
#accountinfo .name {
	width: 180px;
	font-weight: bold;
}
#accountinfo .value {
	width: 150px;
}
#accountinfo .interval {
	height: 20px;
}
#accountinfo .item_value {
	display: inline-block;
	padding: 2px 5px;
	border-radius: 2px;
	white-space: nowrap;
}
.item_value.copy {
	color: #fff;
	background-color: rgba(0, 102, 153, .5);
	transition: all .3s ease;
}
.item_value.recreate {
	color: #fff;
	background-color: rgba(11, 141, 14, .5);
	transition: all .3ms ease;
}
.item_value.readonly {
	font-style: italic;
}
.item_value.true {
	color: #0b8d0e;
}
.item_value.false {
	color: #a00;
}
.gr_hint {
	display: inline-block;
	position: fixed;
	padding: 2px;
	background: rgba(255, 255, 255, .2);
	border-radius: 2px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
	z-index: 20000;
}
.gr_hint_content {
	padding: 2px 5px;
	background: rgba(0,0,0,.3);
	border-radius: 2px;
	color: #fff;
	font-size: 8pt;
	cursor: default;
}
.gr_hint.max .gr_hint_content {
	background: rgba(240,73,35,.7);
}
.gr_hint.min .gr_hint_content {
	background: rgba(0,79,163,0.7);
}
.gr_hint.give .gr_hint_content {
	background: rgba(11,151,2,0.7);
}
#dataresult {
	position: relative;
	margin: 0 auto;
	width: 90%;
	border-spacing: 5px 1px;
	color: #fff;
	font-size: .85em;
}
#dataresult .result {
	width: 33.33%;
}
#dataresult .spacing {
	width: 100%;
	border-spacing: 10px 0;
}
#dataresult .spacing td.resultname {
	font-weight: bold;
	width: auto;
	padding: 5px;
	color: #333333;
	border-radius: 2px;
}
#dataresult .spacing td.resultvalue {
	font-weight: bold;
	width: 50px;
	padding: 5px;
	border-radius: 2px;
	text-align: right;
}
#dataresult .spacing td.resultvalue.max {
	background: rgba(240,73,35,0.7);
}
#dataresult .spacing td.resultvalue.min {
	background: rgba(0,79,163,0.7);
}
#dataresult .spacing td.resultvalue.give {
	background: rgba(11,151,2,0.7);
}
.tab-content {
	position: relative;
	min-height: 150px;
}
.tablist {
	display: inline-block;
	padding:0 20px;
	margin-right:10px;
	height:22px;
	line-height: 22px;
	background:#EEEEEE;
	border-radius: 2px;
	-moz-border-radius: 2px;
	cursor: pointer;
}
.tablist:hover {
	background: #E6E6E6
}
.tablist.active {
	background:#006699 ;
	color:#fff;
	cursor: default;
}
